body {
    font-family: palatino;
    font-size: 1em;
    color: #d0d0d0;
    background-color: #202020;
}
select,input, button{
    font-size: inherit;
    font-family: inherit;
    color:inherit;
    display: inline-block;
    overflow: hidden;
    appearance: none;
    padding:0.5em;
    margin: 2px;
    border-radius: 0.5em;
}
select,input{
    border: 1px solid #a0a0a0;
    background-color: rgba(255,255,255,0.1);
}
button{
    background-color: rgba(255,255,255,0.1);
    border: 1px solid #30d030;
    margin-bottom:1em;
}
.routine{
    color: #40d040;
}
.done{
    text-decoration: line-through;
    color: #707070;
}
.tobedeleted{
    text-decoration: line-through;
    color: #d04040;
}
